/*********************************************
Dashboard Layout Styles
*********************************************/

.dashboard {
	background-color: $color-primary;
	flex: 1;
}

.dashboard div {
	margin: 2.5%;
}