/*********************************************
Navigation Styles
*********************************************/

nav {
	background-color: $color-tertiary;
	display: flex;
	
	// top-bar when small 
	justify-content: space-around;
	align-items: center;
	@include mq(small) {
		height: 100px;
	}
	
	// side bar when narrow to wide
	@include mq(narrow) {
		width: 100px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}

// svg icons
a {
	width: 40px;
	margin: 20px;
	
	& .st0 {
		fill: $color-link;
	}
	
	&:hover .st0 {
		fill: $color-link-hover;
	}
}

