/*********************************************
Global Layout Set-up
*********************************************/

* { 
	box-sizing: border-box;
}
  
body {
	display: flex;
	flex-direction: column;
	background: $color-primary;
	min-height: 100vh;

	margin: 0;
	padding: 0;
}

a {
	width: 40px;
	
	& .st0 {
		fill: $color-link;
	}
	
	&:hover .st0 {
		fill: $color-link-hover;
	}
}



