// Text

@mixin text($size: null, $l-height: null, $weight: null, $color: null) {
	font-size: $size;
	line-height: $l-height;
	font-weight: $weight;
	color: $color;
}

@mixin mq($break) {
	@if $break == "small" {
	
		@media screen and (max-width: $break-narrow - 1) {
			@content;
		}
	} 
	@else if $break == "narrow" {
	
		@media screen and (min-width: $break-narrow) {
			@content;
		}
	} 
	@else if $break == "wide" {
		
		@media screen and (min-width: $break-wide) {
			@content;
		}
	}
	@else {
		@error "No value could be retrieved for #{$break}"
	}
}