
// Descriptive color variables
$white						: #fff;
$black						: #000;

//grey
$spun-pearl					:#a6a6b9;

// blue
$ship-cove					: #7477bf;
$mulled-wine				: #4d4c72;

// green
$de-york					: #81c98f;



// General Functional color variables
$color-primary				: $white;
$color-secondary			: $ship-cove;
$color-tertiary				: $mulled-wine;

$color-text-primary			: $mulled-wine;
$color-text-secondary       : $white;

$color-link					: $spun-pearl;
$color-link-hover			: $white;

// Specific color variables
$traffic-btn-bg-active		: $de-york;
$traffic-btn-txt-active		: $white;


// Font stacks
$stack-sans-serif			: sans-serif;



// Font size
$font-size-normal			: 1em;



// Font weight
$font-weight-normal			: 500;



// Line height
$line-height-normal			: 1.5;


// Seperation between sections
$section-seperation			: 1em;


// maximum width of content
$max-content-width			: 800px;


// Media query breakpoints
$break-narrow				: 768px;
$break-wide					: 1024px;
