/*********************************************
Traffic Chart Styles
*********************************************/
.widget-traffic {
	// for layout within Dashboard
	color: $color-text-primary;
	
	& span:not(:first-child) {
		font-weight: 800;
		cursor: pointer;
	}
	
	// for layout within traffic
	& span {
		@extend %widget-text;
	}
	
	& .traffic-selected {
		background-color: $traffic-btn-bg-active;
		color 			: $traffic-btn-txt-active;
	}
	
	& span:not(:first-child):not(.traffic-selected):hover {
		background-color: lighten($traffic-btn-bg-active, 20%);
		color			: $traffic-btn-txt-active;
	}
	
	@include mq(small) {
		& .small {
			display: flex;
		}
		
		& .narrow {
			display: none;
		}
	}
	
	@include mq(narrow) {
		& .small {
			display: none;
		}
		
		& .narrow {
			display: flex;
		}
	}	
	
	& p {
		justify-content: flex-end;
		align-items: center;
		
		& span:first-child {
			margin-right: auto;
		}
	}
	
}

// for layout within Dashboard
.traffic-chart-wrapper {
	width: 100%;
	
	@include mq(small) {
		height: 200px;
	}
	
	@include mq(narrow) {
		height: 400px;
	}
}